.myForm {
    max-width: 700px;
    background: #FEEED6;
    font-family: fallback;
}

.head {
    color: #676565;
    font-weight: normal;
    margin-left: 20px;
    font-size: 28px;
    font-family: Calibri;
}

.myLabel {
    color: #676565;
    font-weight: bold;
    margin-left: 20px;
    font-size: 16px;
    font-family: Calibri;
}

.myInput {
    margin: 5px 20px 15px;
    width: 90%;
    padding: 10px;
    font-size: 14px;
    color: #999999;
    font-family: Calibri;
}

.myTextArea {
    margin: 5px 20px;
    color: #999999;
    width: 90%;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    font-family: Calibri;
}

.comment {
    color: #676565;
    margin-left: 20px;
    font-size: 14px;
    margin-bottom: 5px;
    font-family: Calibri;
}

.myButton {
    margin-left: 72%;
    margin-bottom: 15px;
    margin-right: 20px;
    font-weight: bold;
    padding: 10px;
    background: #378DB2;
    color: white;
}