form.myForm {
    width: 700px;
    background: #FEEED6;
}

label.myLabel {
    color: #676565;
    font-weight: bold;
    margin-left: 20px;
    font-size: 16px;
}

input.myInput {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    width: 90%;
    padding: 10px;
    font-size: 14px;
    color: #999999;
    font-family: Arial;
}

p.button {
    margin-right: auto;
}

textarea.myTextArea {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    color: #999999;
    width: 90%;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    font-family: Arial;
}

label.comment {
    color: #676565;
    margin-left: 20px;
    font-size: 14px;
    margin-bottom: 5px;
    font-family: Arial;
}

button.myButton {
    margin-left: 77%;
    margin-bottom: 15px;
    margin-right: 20px;
    font-weight: bold;
    padding: 5px;
    background: #378DB2;
    color: white;
}