h1.header {
    max-width: 600px;
    font-size: 26px;
    font-weight: normal;
    color: #676565;
    margin-bottom: 20px;
}

.color span {
    font-weight: bold;
    color: #378DB2;
    line-height: 1.5;
    font-size: 18px;
}

.text p {
    text-indent: 20px;
    line-height: 1.5;
    margin-top: 0.5em;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

body {
    max-width: 680px;
    background-color: #FEEED6;
    font-family: Calibri; 
    font-size: 16px;
    margin-left: 15px;
    margin-top: 15px;
    color: #676565;
}