.table {
    font-family: Calibri, sans-serif;
    font-size: 24px;
    font-weight: normal;
    border-collapse: collapse;
    max-width: 100%;
    table-layout: auto;
}

.table tbody tr:nth-child(2n-1) {
    background: #EEEEEE;
    border: 1px solid #CECECE;
}

.table thead {
    background: #3498DB;
    border: 1px solid #CECECE;
    color: white;
    text-align: left;
}

.table td, .table th {
    border: 1px solid #CECECE;
    padding: 15px;
    text-align: left;
}

