table.myTable {
    font-family: Calibri;
    font-size: 18px;
    font-weight: normal;
    border-collapse: collapse;
    width: 700px;
}

tr.myTableHead {
    background: #3498DB;
    border: 1px solid #CECECE;
    color: white;
    text-align: left;
}

tr.oddString {
    background: #EEEEEE;
    border: 1px solid #CECECE;
}

tr.evenString {
    border: 1px solid #CECECE;
}

td.column, th.column {
    border: 1px solid #CECECE;
    padding: 10px;
    text-align: left;
}


