.mytable {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    font-weight: normal;
    border-collapse: collapse;
    width: 650px;
}

.mytable tbody tr:nth-child(2n-1) {
    background: #EEEEEE;
    border: 1px solid #CECECE;
}

.mytable thead {
    background: #3498DB;
    border: 1px solid #CECECE;
    color: white;
    text-align: left;
}

td, th {
    border: 1px solid #CECECE;
    padding: 10px;
    text-align: left;
}


